@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;}
body,ul,li{margin:0;padding:0;}
html{ overflow-x:hidden;overflow-y:hidden;_background-image:url(about:blank); _background-attachment:fixed; }
/* html加上这段代码用于取消ie6滚动时候元素震动bug */
img{border:0;}
ul{list-style:none;}
body{font-size:12px;font-family:"Arial","宋体"}
a{text-decoration:none;}
.num{background:url(../images/bg.jpg) no-repeat; background-size:100% 100%; color:#fff;}
/*#main{position:relative;left:27%;top:17%;}*/
.content{width:600px; height:400px; background:url(../images/main.png); position:relative; left:27%; top:17%;}

.content .input-wrap{width:250px; height:35px; border:1px solid #CCC; position: absolute; left:230px; top:145px; border-radius:8px;}
.content .input-wrap .input-icon{background:url(../images/user.png) no-repeat; display:block; width:32px;
								 height:30px; margin-top:2.5px;}
.startpage-input-text{width:215px; height:30px;   line-height:30px;  outline: none; position:relative; font-size: 16px;
 					  color:#8F8F8F; border:0;  left:35px; top:-31px;
                      font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;}  

.input-login-pwd{width:250px; height:35px; border:1px solid #CCC; position: absolute; left:230px; top:190px; border-radius:8px;}
.input-pwd{background:url(../images/pwd.png) no-repeat; display:block; width:32px;
		   height:30px; margin-top:2.5px;}
.startpage-input-pass{width:215px; height:30px;   line-height:30px;  outline: none; position:relative; font-size: 16px;
 					  color:#8F8F8F; border:0;  left:35px; top:-31px;
                      font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;}  

.input-login-code{width:150px; height:35px; border:1px solid #CCC; position: absolute; left:230px; top:240px; border-radius:8px;
				  float:left;}
.input-code{background:url(../images/code.png) no-repeat; display:block; width:32px;
		   height:30px; margin-top:2.5px;}
.startpage-input-code{width:110px; height:30px;   line-height:30px;  outline: none; position:relative; font-size: 16px;
 					  color:#8F8F8F; border:0;  left:35px; top:-31px;
                      font-family: "Microsoft Yahei", "微软雅黑", Tahoma, Arial, Helvetica, STHeiti;}  
.code-right{width:90px; height:35px; position:absolute; left:390px; top:240px; border-radius:8px; line-height:35px; text-align:center;
			background:#68b71a; float:left;}
.button-login{width:250px; height:35px; position: absolute; left:230px; top:290px; border-radius:8px;
			 background:#548ace; line-height:35px; text-align:center; font-size:16px; letter-spacing:10px;
			 box-shadow:1px 1px 2px #000;}