<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>部门列表</title>
<style>
input[type="text"] {
	height: 20px;
	width: 150px;
	border: 1px #93bee2 solid;
	margin-right: 10px;
	position: relative;
	top: -1px;
}

table {
	margin-top: 20px;
	text-align: center;
	border-collapse: collapse;
}

table td, table th {
	border: 1px solid #999;
}

table td a {
	margin-right: 20px;
	text-decoration:underline;
}

table td a:hover {
	color:red;
}

table td a:last-child {
	margin-right: 0;
}
</style>
<script>
	function deleteDepartement(id) {
		if(!id){
			return;
		}
		var conf = confirm("是否要删除？");
		if (!conf) {
			return;
		}
		var xmlhttp;
		if (window.XMLHttpRequest) {
			xmlhttp = new XMLHttpRequest();
		} else {
			xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
		}
		xmlhttp.onreadystatechange = function() {
			if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
				var result = xmlhttp.responseText;
				result = eval("("+result+")");
				if(result['status'] == "ok"){
					alert("删除成功");
					history.go(0);
				}else{
					alert("失败");
				}
			}
		}
		xmlhttp.open("POST", "{:U('/api/user/deleteDepartement')}", true);
		xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
		xmlhttp.send("id="+id);
	}
</script>
</head>
<body>
	<table width="511" height="100" border="0">
		<tr>
			<th width="51">序号</th>
			<th width="200">部门名称</th>
			<th width="294">操作</th>
		</tr>
		<volist name='list' id='d'>
		<tr>
			<td>{$d.id}</td>
			<td>{$d.departement}</td>
			<td><a
				href="{:U('/user/admin/detailDepartement',array('id'=>$d['id']))}">详情</a><a
				href="{:U('/user/admin/changeDepartement',array('id'=>$d['id']))}">修改</a><a
				href="javascript:deleteDepartement({$d.id})">删除</a></td>
		</tr>
		</volist>
	</table>

</body>
</html>
