<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>员工后台管理系统</title>
<link rel="stylesheet" href="__PUBLIC__/css/index.css" />
<link rel="stylesheet" href="__PUBLIC__/css/easyui.css" />
<link rel="stylesheet" href="__PUBLIC__/css/left/font-awesome.css" />
<link rel="stylesheet" href="__PUBLIC__/css/left/index.css" />
<script type="text/javascript" src="__PUBLIC__/js/sum/jquery-1.4.4.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/sum/jquery.easyui.min.1.2.2.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/left/jquery-1.10.2.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/left/style.js"></script>
</head>
<body class="easyui-layout" style="overflow-y: hidden" scroll="no">

	<!--head开始-->
	<div class="head" region="north" split="true" border="false"
		style="overflow: hidden; height: 140px; background: url(__PUBLIC__/images/1.jpg)">
		<div class="top">
        	<img src="__PUBLIC__/images/4.jpg"/><a href="{:U('/vip')}">会员管理</a>
        	<img src="__PUBLIC__/images/6.jpg"/><a href="{:U('/data')}">商品管理</a>
        	<img src="__PUBLIC__/images/5.jpg"/><a href="{:U('/user')}">员工管理</a>
        	<img src="__PUBLIC__/images/7.jpg"/><a href="{:U('/statistique')}">大数据</a>
			<img src="__PUBLIC__/images/2.jpg" /><a href="{:U('/user')}">首页</a> 
            <img src="__PUBLIC__/images/3.jpg" /><a href="{:U('/user/login/logout')}">退出</a>
		</div>
	</div>
	<!--head结束-->
	<!--***************************************************content开始*************************************-->
	<!--**********************************left开始*********************************************************-->
	<div region="west" hide="true" split="true" title="导航菜单"
		style="width: 200px;" id="west">
		<!-- ************* 导航内容****** -->
		<div id="nav" class="easyui-accordion" fit="true" border="false"
			style="border: 2px solid #99BBE8; border-top: 0px; background: url(__PUBLIC__/images/beijing.png);">
			<div class="layout">
				<div class="left_layout">
					<!-- 主页目录 -->
					<div class="homepage menu_color">
						<div class="menu fa">
							<span>部门管理</span>
						</div>
						<ul class="leftmenu">
							<a href="{:U('/user/admin/addDepartement')}" target='frameContent'><li class="fa fa-plus-square-o">添加部门</li></a>
							<a href="{:U('/user/admin/listDepartement')}" target='frameContent'><li class="fa fa-plus-square-o">部门列表</li></a>
							<a href="{:U('/user/admin/bindShop')}" target='frameContent'><li class="fa fa-plus-square-o">部门店铺绑定</li></a>
						</ul>
					</div>
					<!-- 财务处理 -->
					<div class="financial_management menu_color">
						<div class="menu fa">
							<span>职位管理</span>
						</div>
						<ul class="leftmenu hide">
							<a href="{:U('/user/admin/addPost')}" target='frameContent'><li class="fa fa-plus-square-o">职位添加</li></a>
							<a href="{:U('/user/admin/listPost')}" target='frameContent'><li class="fa fa-plus-square-o">职位列表</li></a>
						</ul>
					</div>
					<!-- 开票流水查询 -->
					<div class="invoice_flow_inquiry menu_color">
						<div class="menu fa">
							<span>员工管理</span>
						</div>
						<ul class="leftmenu hide">
							<a href="{:U('/user/admin/addWorker')}" target='frameContent'><li class="fa fa-plus-square-o">员工添加</li></a>
							<a href="{:U('/user/admin/listWorker')}" target='frameContent'><li class="fa fa-plus-square-o">员工列表</li></a>
							<a href="{:U('/user/admin/classifiedWorker')}" target='frameContent'><li class="fa fa-plus-square-o">员工权限</li></a>
							<a href="{:U('/user/admin/listoperationrecord')}" target='frameContent'><li class="fa fa-plus-square-o">操作记录</li></a>
	
						</ul>
					</div>
					<!-- 批量管理 -->
					<div class="batch_management menu_color">
						<div class="menu fa">
							<span>员工功能</span>
						</div>
						<ul class="leftmenu hide">
							<a href="{:U('/user/worker/dailyReport')}" target='frameContent'><li class="fa fa-plus-square-o">工作日志</li></a>
							<a href="{:U('/user/worker/listReport')}" target='frameContent'><li class="fa fa-plus-square-o">日志列表</li></a>
							<a href="{:U('/user/worker/addActivity')}" target='frameContent'><li class="fa fa-plus-square-o">活动添加</li></a>
							<a href="{:U('/user/worker/listActivity')}" target='frameContent'><li class="fa fa-plus-square-o">活动列表</li></a>
							<a href="{:U('/user/worker/addGroup')}" target='frameContent'><li class="fa fa-plus-square-o">互助组添加</li></a>
							<a href="{:U('/user/worker/listGroup')}" target='frameContent'><li class="fa fa-plus-square-o">互助组列表</li></a>
							<a href="{:U('/user/worker/addPosition')}" target='frameContent'><li class="fa fa-plus-square-o">添加地点</li></a>
							<a href="{:U('/user/worker/listPosition')}" target='frameContent'><li class="fa fa-plus-square-o">地点列表</li></a>
							<a href="{:U('/user/worker/listpresenttime')}" target='frameContent'><li class="fa fa-plus-square-o">签到政策</li></a>
							<a href="{:U('/user/worker/selfDetail')}" target='frameContent'><li class="fa fa-plus-square-o">个人详情</li></a>
							<a href="{:U('/user/worker/changePwd')}" target='frameContent'><li class="fa fa-plus-square-o">密码修改</li></a>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--**********************************left结束*********************************************************-->
	<!--*****************************************************************************************right开始-->
	<div id="mainPanle" region="center"
		style="background: #d2e0f2; overflow-y: hidden; ">
		<iframe name='frameContent' id='frameContent' src='' height='100%' width='99%' style="background:#eee;"></iframe>
	</div>
	<!--*******************************************************************************************right结束-->
	<!--*************************************************content结束****************************************-->
	<!--footer开始-->
	<div region="south" split="true"
		style="height: 30px; background: #1a7eba;">
		<div class="footer">版权所所有（A）河北驰宇网络科技有限公司</div>
	</div>
	<!--footer结束-->

</body>
</html>
















