<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>productConso3小票</title>
<style>
table{text-align:center; padding:10px;}
</style>
</head>
<body>
<table width="685" height="268" border="0">
  <tr>
    <th colspan="4">乘牛福马欢乐园养老事业平台</th>
  </tr>
  <tr>
    <td colspan="4">2015-12-30</td>
  </tr>
   <tr>
    <td colspan="4" style="height:3px; border-bottom:1px dashed #999;"></td>
  </tr>
  <tr >
    <td width="218" style="padding-top:8px;text-align:left;">品名</td>
    <td width="171">单价</td>
    <td width="133">数量</td>
    <td width="145">小计</td>
  </tr>
  <tr>
    <td style="text-align:left;">哈哈哈哈哈哈哈</td>
    <td>2.5</td>
    <td>10</td>
    <td>25.00</td>
  </tr>
   <tr>
    <td style="text-align:left;">哈哈哈哈哈哈哈</td>
    <td>2.5</td>
    <td>10</td>
    <td>25.00</td>
  </tr>
   <tr>
    <td style="text-align:left;">哈哈哈哈哈哈哈</td>
    <td>2.5</td>
    <td>10</td>
    <td>25.00</td>
  </tr>
  <tr>
    <td colspan="4" style="height:3px; border-bottom:1px dashed #999;"></td>
  </tr>
  <tr style="text-align:left;">
    <td height="31" colspan="4" style="padding-top:8px;">操作人：哈哈哈</td>
  </tr>
  <tr style="text-align:left;">
    <td height="24" colspan="4">店铺名称：哈哈哈哈哈</td>
  </tr>
   <tr style="text-align:left;">
    <td height="31" colspan="4">客户签字：哈哈哈</td>
  </tr>
</table>


</body>
</html>
