<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<form action="" method="POST">
		<p>转出账户:<select name="from">
			<option value="pointConso">通用</option>
			<option value="pointTourism">旅游</option>
		</select></p>
		<p>转入账户:<select name="to">
			<option value="pointTourism">旅游</option>
			<option value="pointHeal">健康</option>
			<option value="cardLife">生活卡</option>
		</select></p>
		<p>数量:<input type="text" name="sum"/></p>
		<p><input type="submit" name="confirm" value="确定"/>
	</form>
</body>
</html>