<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
input[type="text"] ,textarea{
	height: 30px;
	width: 180px;
	border: 1px #93bee2 solid;
	margin-right: 10px;
}

input[type="submit"] {
	height: 23px;
	font-size: 10pt;
	color: #003399;
	border: 1px #93bee2 solid;
	width: 40px;
	background-color: #e8f4ff;
	line-height: 19px;
	position: absolute;
	font-weight: bold;
	cursor: pointer;
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
</style>
</head>
<body>
	<form action='' method='POST'>
		<p>日志标题:<input type='text' name='title'/></p>
		<p>日志内容:<textarea name='content'></textarea></p>
		<p><input type='submit' name='confirm' value='提交'/></p>
	</form>
</body>
</html>